<!DOCTYPE html>
<html lang="en" ng-app="landing">
<head>
  <meta charset="utf-8">
  <title>IPSUM</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/ipsum/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/aos/aos.css" rel="stylesheet">
  <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">


  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body ng-controller="mainApp">

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">
      <div class="row">
        <div class="col">
          <a>
            <img src="img/ipsum/logo.png" style="max-height: 80px;" /></img>
          </a>
        </div>
        <div class="col language-selector">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ page_texts.TOP_SECTOR.LANGUAGE_SELECTOR }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a href="" class="dropdown-item" ng-click="changeLanguage('es')">Español</a>
              <a href="" class="dropdown-item" ng-click="changeLanguage('en')">English</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <video autoplay muted loop id="back-video">
    <source src="img/ipsum/vids/video.mp4" type="video/mp4">
  </video>
  <section id="intro">
    <div class="intro-text">
      <h2>{{ page_texts.TOP_SECTOR.TITLE_TEXT }}</h2>
      <div class="divider div-transparent"></div>
      <p>{{ page_texts.TOP_SECTOR.BODY_TEXT }}</p>
      <a href="" class="btn-get-started scrollto">{{ page_texts.TOP_SECTOR.BTN_TEXT }}</a>
    </div>

  </section><!-- #intro -->

  <main id="main" style="width: 100%;">
    <!--==========================
      Product Featuress Section
    ============================-->
    <section id="features">
      <div class="container">
        <div class="section-header" data-aos="fade" data-aos-duration="1000" style="margin-bottom: 95px;">
          <h3 class="section-title">{{ page_texts.ABOUT_SECTOR.TITLE_TEXT }}</h3>
          <div class="divider div-transparent"></div>
        </div>



        <div class="row">

          <div class="col-lg-4 col-md-5 features-img">
            <img src="img/ipsum/img_one.png" alt="" data-aos="fade-right" data-aos-easing="ease-out-back">
          </div>

          <div class="col-lg-8 col-md-7 ">

            <div class="row">
              <div class="col-lg-3 col-md-3 box" data-aos="fade-left">
              </div>
              <div class="col-lg-9 col-md-9 box" data-aos="fade-left" data-aos-delay="100">
                <h4 class="title">
                    {{ page_texts.ABOUT_SECTOR.QUESTION_TEXT }}
                </h4>
                <p class="description" align="justify">
                  {{ page_texts.ABOUT_SECTOR.ANSWER_TEXT }}
                </p>
                <div style="text-align: right;">
                  <a href="" class="btn-ask-demo">
                    {{ page_texts.ABOUT_SECTOR.BTN_TEXT }}
                  </a>
                </div>

              </div>
              <div class="col-lg-6 col-md-6 box" data-aos="fade-left" data-aos-delay="200">
              </div>
              <div class="col-lg-6 col-md-6 box" data-aos="fade-left" data-aos-delay="300">
              </div>
            </div>

          </div>

        </div>

      </div>

    </section><!-- #features -->

    <!--==========================
      Product Advanced Featuress Section
    ============================-->
    <section id="advanced-features" style="background-color: #333">

      <div class="features-row section-bg specs-background">
        <div class="container">
          <div class="row">

            <div class="col-lg-12 col-md-12 ">

              <div class="row specs-container">
                <div class="col-lg-4 col-md-4 box" data-aos="fade-left" data-aos-delay="100">
                  <div class="imgs-description-container">
                    <img src="img/ipsum/img_ritmica.png" alt="" data-aos="fade-right" data-aos-easing="ease-out-back" class="imgs-description">
                  </div>
                  <br>
                  <h4 class="title specs-title">
                    <a>
                      {{ page_texts.SPECS.PROGRA.TITLE_TEXT }}
                    </a>
                  </h4>
                  <p class="description specs-description">
                    {{ page_texts.SPECS.PROGRA.BODY_TEXT }}
                  </p>
                </div>

                <div class="col-lg-4 col-md-4 box" data-aos="fade-left" data-aos-delay="200">
                  <div class="imgs-description-container">
                    <img src="img/ipsum/img_protocolos.png" alt="" data-aos="fade-right" data-aos-easing="ease-out-back" class="imgs-description">
                  </div>
                  <br>
                  <h4 class="title specs-title">
                    <a>
                      {{ page_texts.SPECS.PROTO.TITLE_TEXT }}
                    </a>
                  </h4>
                  <p class="description specs-description">
                    {{ page_texts.SPECS.PROTO.BODY_TEXT }}
                  </p>
                </div>

                <div class="col-lg-4 col-md-4 box" data-aos="fade-left" data-aos-delay="300">
                  <div class="imgs-description-container">
                    <img src="img/ipsum/img_bim.png" alt="" data-aos="fade-right" data-aos-easing="ease-out-back" class="imgs-description">
                  </div>
                  <br>
                  <h4 class="title specs-title">
                    <a>
                      {{ page_texts.SPECS.BIM.TITLE_TEXT }}
                    </a>
                  </h4>
                  <p class="description specs-description">
                    {{ page_texts.SPECS.BIM.BODY_TEXT }}
                  </p>
                </div>
              </div>


            </div>

          </div>

        </div>
      </div>



      <div class="features-row section-bg integration-soft-section">

      </div>

      <div class="container over-footer-integration">
          <div class="row">

            <div class="col-lg-12 col-md-12 ">

              <div class="row integration-soft-text">
                <div class="col-lg-5 col-md-5 box" data-aos="fade-left" data-aos-delay="100">
                  <h4 class="title integration-title">
                    <a>
                      {{ page_texts.INTEGRATION.TITLE_TEXT }}
                    </a>
                  </h4>
                  <p class="description integration-description">
                    {{ page_texts.INTEGRATION.BODY_TEXT }}
                  </p>
                </div>

                <div class="col-lg-3 col-md-3 box" data-aos="fade-left" data-aos-delay="200">
                </div>

                <div class="col-lg-4 col-md-4 box" data-aos="fade-left" data-aos-delay="300">
                </div>
              </div>


            </div>

          </div>
      </div>

    </section><!-- #advanced-features -->



    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="contact-section-style">
      <div class="container">
        <div class="row footer-detail" data-aos="fade-left">

          <div class="row">

            <div class="col-lg-12 col-md-12 footer-ipsum-container">

              <div class="row">
                <div class="col-lg-4 col-md-4 box" data-aos="fade-left" data-aos-delay="100">
                  <div class="img-footer-ipsum-container">
                    <img src="img/ipsum/logo-blanco.png" alt="" data-aos="fade-right" data-aos-easing="ease-out-back" class="img-footer-ipsum">
                  </div>
                  <p class="description specs-description">
                    {{ page_texts.FOOTER.BODY_TEXT }}
                  </p>
                </div>




                <div class="col-lg-4 col-md-4 box contact-container-conf" data-aos="fade-left" data-aos-delay="200">
                <h4 class="title contact-info-title">
                  <a style="font-weight: 600;">
                    {{ page_texts.FOOTER.CONTACT }}
                  </a>
                </h4>
                  <p class="description footer-contact-info">
                    contacto@ipsumapp.co
                  </p>
                  <br>
                  <p class="description footer-contact-info">
                    +56 9 9547 8087
                  </p>
                  <br>
                  <p class="description footer-contact-info">
                    Av. Providencia 1208, Edificio Pamplona, Piso 21, Oficina 2101.
                  </p>
                  <br>
                  <p class="description footer-contact-info">
                    Providencia, Santiago, Chile.
                  </p>
                  <br>
                  <div style="text-align: left; margin-left: -11px">
                    <a href="" class="btn-ask-footer">
                      {{ page_texts.FOOTER.BTN_TEXT }}
                    </a>
                  </div>

                </div>

                <div class="col-lg-4 col-md-4 box contact-container-conf" data-aos="fade-left" data-aos-delay="300">
                  <div class="rrss-icons-styles">
                    <a href="https://play.google.com/store/apps/developer?id=Ipsum%20SpA&hl=en" target="_blank" class="link-android-specific-style">
                      <img src="img/ipsum/android_store.png" alt="" class="stores-img">
                    </a>
                    <br>
                    <a href="https://itunes.apple.com/us/app/proplanner/id1436981907?ls=1&mt=8" target="_blank">
                      <img src="img/ipsum/apple_store.png" alt="" class="stores-img">
                    </a>

                    <br>
                    <br>
                    <a href="https://www.facebook.com/ipsumapp/" target="_blank">
                      <img src="img/ipsum/fb_logo.png" alt="" class="rrss-styles">
                    </a>
                    <a href="https://www.instagram.com/ipsumapp/" target="_blank">
                      <img src="img/ipsum/linkedin_logo.png" alt="" class="rrss-styles">
                    </a>
                    <a href="https://www.linkedin.com/company/ipsumapp" target="_blank">
                      <img src="img/ipsum/instagram_logo.png" alt="" class="rrss-styles">
                    </a>


                  </div>
                </div>
              </div>


            </div>

          </div>



        </div>
      </div>
    </section><!-- #contact -->

  </main>





  <!-- Languages -->
  <script type="text/javascript" src="img/ipsum/translate/en.js"></script>
  <script type="text/javascript" src="img/ipsum/translate/es.js"></script>


  <!-- JavaScript Libraries -->
  <script src="js/angular.js"></script>
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/aos/aos.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>


  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
  <script src="js/script.js"></script>

</body>
</html>
